*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(230, 230, 230);
}
.container{
    border: none;
    background-color: rgb(211, 250, 250);
    border-radius: 15px;
    height: auto;
    width: 40vw;
    box-shadow: 4px 5px 6px;
}
.header{
    text-align: center;
    padding: 10px;
    border-bottom: 0.5px solid white;
    font-size: 1.7em;
    margin-bottom: 20px;
}
.addTask{
display: flex;
justify-content: space-evenly;
}
input{
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}
button{
background-color: rgb(238, 46, 46);
color: white;
padding: 10px;
border-radius: 4px;
cursor: pointer;
}
button:hover{
   background-color: blueviolet;
    box-shadow: 2px 2px 2px;
}
ul{
    list-style: none;
    padding: 15px;

}
li{
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 6px;
    border-bottom: 1px solid white;
    font-size: 17px;
}